.NT {
    color: red;
    background: black;
}

body {
    color: white;
    background: darkgreen;
}

p {
    color: white;
    background: darkgreen;
}

h1 {
    color: white;
    background: darkgreen;
}

a {
    color: white;
    background: darkgreen;
}